body {
	background-image: url(../images/wallpaper.jpg);
	color: yellow;
}


.stylesgif {
	width:100px;
	margin:0 auto;
	height: 150px;

}

.btn{
  font-size: 30px;
  padding:0 1em;
}

.containerbody {
	background-color:black;
	font-weight:900;
}

img {
	width:500px;
	margin:0 auto;
	height: 250px;

}

.box-shadow{
  -webkit-box-shadow: 0px 1px 5px 0px rgba(46,46,46,0.57);
  -moz-box-shadow: 0px 1px 5px 0px rgba(46,46,46,0.57);
  box-shadow: 0px 1px 5px 0px rgba(46,46,46,0.57);
}


.question {
	font-size: 30px;
}
html {
	font-weight:900;
}
.gameTitle {
	font-weight:900;
	display: center;

}